:root {
    --color-primary: #82AFF3;
    --color-secondary: #fdac33;
    --color-accent: #FECE50;
    --color-bg: #192A3C;
    --color-card: #1F354A;
    --color-card-shadow: #102133;
}

body, 
html
{
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 62.5%;
    background-color: var(--color-bg);
    margin: 0;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player-card {
    background-color: var(--color-card);
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    margin: 0 5rem;
    padding-bottom: 4rem;
}
#player1.active {
    opacity: 0.5;
}

.player-card h3 {
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.player-marker {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 3rem;
}

.player-marker svg {
    width: 4rem;
    height: 4rem;
    background-color: var(--color-bg);
    padding: 1rem;
    border-radius: 1rem;
}

.player-name {
    display: flex;
    height: 3rem;
    margin: 0 3rem;
}

.player-name input {
    font-size: 2rem;
    border: none;
    width: 18rem;
    background-color: var(--color-bg);
    color: #fff;
    padding: 2rem 1rem;
    border-radius: 1rem 0 0 1rem;
}

.player-name button {
    background-color: green;
    border: none;
    border-radius: 0 1rem 1rem 0;
    height: 4rem;
    cursor: pointer;
}

.player-name button svg {
    width: 3rem;
    height: 3rem;
}


.board-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin: auto;
    border-radius: 1rem;
}

.board-grid > div {
    font-size: 6rem;
    background-color: var(--color-card);
    color: #fff;
    width: 8rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: 0 10px var(--color-card-shadow);
    transition: 0.3s;
}

.board-grid > div:hover {
    opacity: 0.5;
}

.board-grid > div.highlight {
    background-color: var(--color-accent);
}

.board-grid > div.highlight > svg {
    fill: var(--color-card-shadow);
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background-color: var(--color-card);
    margin: 1% auto auto auto; 
    padding: 3rem;
    border-radius: 1rem;
    width: 20%; 
    overflow: hidden;
}

.modal-content > div > p:first-child {
    color: #fff;
    font-size: 3rem;
    margin: 0;
}

.modal-content > div > p:nth-child(2) {
    color: var(--color-accent);
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    margin: 0;
}

.modal-content button {
    font-size: 1.6rem;
    background-color: var(--color-bg);
    color: #fff;
    padding: 1.4rem 2rem;
    margin-top: 2rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}
